@font-face {
    font-family: 'TF-Spike';
    src: url('../fonts/TF-Spike.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hoskin';
    src: url('../fonts/Hoskin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Poppins';
	font-size: 28px;
	font-weight: 400;
	/* text-align: left; */
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	background-color: black;
	color: white;
	position: relative;
	overflow: hidden;
}

.background-text {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Hoskin', sans-serif;
	font-size: 12vw;
	font-weight: 400;
    letter-spacing: 2px;
	color: white;
	opacity: 0.1;
	white-space: nowrap;
	user-select: none;
	z-index: -1;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.navbar {
	font-family: 'TF-Spike';
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #343a40;
	width: 100%;
	padding: 10px 15px;
	line-height: 30.8px;
    font-size: 1rem; /* Ajuster la taille de la police */
    font-weight: 600; /* Épaisseur de la police */
}

.navbar a.nav-link {
    letter-spacing: 1px; /* Espacement entre les lettres */
    text-transform: uppercase; /* Mettre en majuscules */
}

.navbar a.nav-link:hover {
    color: #4423FF !important; /* Couleur hover violet */
    letter-spacing: 2px; /* Augmenter l'espacement au survol */
}

.navbar a {
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 15px;
	text-decoration: none;
}

.navbar a:hover {
	color: #4423FF !important;
	background-color: transparent;
	border-radius: 5px;
}

.navbar-nav {
	display: flex;
}

.profile-avatar {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-container {
    margin-left: auto;
}

.profile-btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #343a40;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	border: 2px solid white;
}

.profile-btn:hover {
	background-color: #4423FF;
	color: black;
}

.btn-primary {
	border-radius: 38px;
    background-color: #4423FF !important;
    border-color: #4423FF !important;
}

.btn-primary:hover {
    background-color: #3100cc !important;
    border-color: #3100cc !important;
}
