body {
	background-color: #212529;
	color: white;
	text-align: center;
	position: relative;
	overflow: hidden;
	margin-top: 60px;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #343a40;
	width: 100%;
	padding: 10px 15px;
}

.navbar a {
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 15px;
	text-decoration: none;
}

.navbar a:hover {
	color: #4423FF !important;
	background-color: transparent;
	border-radius: 5px;
}

.navbar-nav {
	display: flex;
	flex-grow: 1;
}

.navbar-nav .nav-item {
	flex: 1;
}

.profile-btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #343a40;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	border: 2px solid white;
	margin-left: auto;
}

.profile-btn:hover {
	background-color: #4423FF;
	color: black;
}

.container {
	max-width: 800px;
	margin: auto;
	padding-top: 20px;
}

.container h1 {
	text-transform: uppercase;
	font-family: 'TF-Spike', sans-serif !important;
}

.score {
	font-size: 48px;
	font-weight: bold;
	margin: 10px;
}

#pongCanvas {
	display: block;
	margin: auto;
	background: black;
}