.leaderboard-table h1 {
	font-family: Arial, sans-serif;
}

.leaderboard-table {
	width: 100%;
	margin-top: 30px;
	border-collapse: collapse;
}

.leaderboard-table th, .leaderboard-table td {
	padding: 10px;
	border: 1px solid white;
	text-align: center;
}

.leaderboard-table th {
	background-color: #343a40;
	font-weight: bold;
}

.leaderboard-table tr:nth-child(even) {
	background-color: #444;
}

.leaderboard-table tr:hover {
	background-color: #555;
}

.leaderboard-table td {
	color: #bdbdbd;
}

.leaderboard-table td span {
	color: white;
}