<div class="leaderboard-popup" id="leaderboardPopup">
		
	<div class="popup-content">
		<div class=" position-absolute top-50 start-50 translate-middle">
			<img class="transcendence-icon" alt="" src="{% static 'images/bg-text.svg' %}">
		</div>
		<button class="close-btn" onclick="closeLeaderboard()">×</button>
		<h2 class="primary-font" style="font-size: 42pt">Leader Board</h2>
		<Table class="table table-hover table-responsive secondary-font" style="table-layout: auto; font-size: 21pt;">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col" style="text-align: left;">Username</th>
					<th scope="col" style="text-align: right;">ELO</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>Player One</td>
					<td style="text-align: right;" >500</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Player Two</td>
					<td style="text-align: right;">450</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>Player Three</td>
					<td style="text-align: right;">400</td>
				</tr>
				<tr>
					<th scope="row">4</th>
					<td>Player Four</td>
					<td style="text-align: right;">350</td>
				</tr>
				<tr>
					<th scope="row">5</th>
					<td>Player Five</td>
					<td style="text-align: right;">300</td>
				</tr>
			</tbody>
		</Table>
		
	</div>
</div>