{% load static %}

{% if user.is_authenticated %}

<div class="chatbox-btn" onclick="toggleChatbox()">💬</div>

<div class="chatbox secondary-font" id="chatbox">
	<!-- Chatbox Header -->
	<div class="chatbox-header" id="chatboxHeader">
		<div class="left-part">
			<button class="back-btn" onclick="goBackToContacts()">
				<img src="{% static 'icons/arrow-left.png' %}">
			</button>
		</div>
		<div class="center-part">
			<span id="contactName">Chat</span>
		</div>
		<div class="right-part">
			<button class="block-btn" onclick="blockContact()">&#10060;</button>
			<button class="back-btn" onclick="challengeContact()">&#9876;</button>
		</div>
	</div>

	<!-- Contact List -->
	<div class="contact-list" id="contactList">
    {% if user.is_authenticated %}
        {% for friend in user.friends.all %}
        <div class="contact-item" onclick="selectContact('{{ friend.username }}')" style="
                    display: flex;
                    justify-content: left;
                    align-items: center;">
                    <div class="">
                        <img src="{{ friend.avatar.url }}"  style="
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            margin-right: 10px;">
                    </div>
                    <div class="">
                        <p style="font-size: 18px; margin-bottom: 2px;">{{ friend.username }}</p>
                    </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

	<!-- Chat Content -->
	<div class="chatbox-body" id="chatboxBody"></div>

	<div class="chatbox-footer">
		<input type="text" id="messageInput" placeholder="Type a message..." disabled>
		<button id="sendMessageBtn" onclick="sendMessage()" disabled>Send</button>
	</div>
</div>

<script>
	if (!username_defined) {
    const username = "{{ user.username }}"
	};
</script>
<script src="{% static 'js/chatScript.js' %}"></script>

{% endif %}