{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Modes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
 	<script src="{% static 'js/index.js' %}"></script>
      <link rel="icon" href="{% static 'icons/42_logo.ico' %}"  >
      
    <style>
		body {
			background-color: black;
            color: white;
            text-align: center;
            position: relative;
            overflow: hidden;
        }
	
        .first-btn {
			display: block;
			position: center;
            width: 400px;
            padding: 15px;
            margin: 10px auto;
            font-size: 24px;
            background-color: #343a40;
            border: 2px solid white;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            font-family: 'TF-Spike', sans-serif;
			display: block;
        }
		
		</style>
	<link rel="stylesheet" href="{% static 'css/chatbox.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body onload="loadTemplate()"   >

    <!-- Navbar at the top -->
    <div id="navbar-container"></div>

    <!-- Background Title -->
    <div class=" position-absolute top-50 start-50 translate-middle">
        <img class="transcendence-icon" alt="" src="{% static 'images/bg-text.svg' %}">
    </div>

    <div class="container  position-absolute top-50 start-50 translate-middle">
        <h1 class="mb-1 primary-font" style="font-size: 42pt">GAME MODES</h1>
        <p class="mb-4 secondary-font">Select your Game Mode</p>

        <button class="first-btn " onclick="window.main('AI')" data="AI" style="display: block;"></button>
        <button class="first-btn" onclick="window.main('Unranked')" data="Unranked"></button>
        <button class="first-btn" onclick="window.main('Ranked')" data="Ranked"></button>
        <button class="first-btn" onclick="window.main('Tournament')" data="Tournament"></button>
        <button class="first-btn" onclick="window.customMode('Custom')" data="Custom"></button>
        <button class="first-btn" onclick="window.main('TicTacToe')" data="TicTacToe"></button>

        <p class="selected-mode secondary-font" id="selectedMode">Current Mode: None</p>
    </div>

    <!-- Modal for Tournament -->
    <div class="modal fade" id="tournamentModal" tabindex="-1" aria-labelledby="tournamentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #f0f0f0;">
                    <h5 class="modal-title primary-font text-center" id="tournamentModalLabel" style="color: #0f0f0f;">Tournament Options</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class=" modal-body text-center" style="background-color: #0f0f0f;">
                    <button class="  first-btn" onclick="window.location.href='/InviteTournament/'">Invite to Tournament</button>
                    <button class=" first-btn" onclick="window.location.href='/JoinTournament/'">Join Existing Tournament</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Custom -->
    <div class="modal fade" id="customModal" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #f0f0f0;">
                    <h5 class="modal-title primary-font text-center" id="tournamentModalLabel" style="color: #0f0f0f; font-size: 38pt;" id="customModalLabel">Custom Mode Options</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center" style="background-color: #0f0f0f;">
                    <button class="first-btn" onclick="window.main('RushMode')">PvP Rush</button>
                    <button class="first-btn" onclick="window.main('MaxScoreMode')">PvP Max Score</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Leaderboard Popup -->
		<div id="leaderboard-popup"></div>

            <!-- Chatbox -->
	{% include 'ChatBox.html' %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script type="module" src="{% static 'js/main.js' %}"></script>

</body>
</html>
