{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Player vs Player - Unranked Match</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	 <link rel="icon" href="{% static 'icons/42_logo.ico' %}"  >
     
	<style>
		body {
			background-color: black;
			color: white;
			text-align: center;
			position: relative;
			overflow: hidden;
		}
		
		.container {
			max-width: 800px;
			margin: auto;
			padding-top: 100px;
		}
	</style>
	
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" href="{% static 'css/chatbox.css' %}">
	<script src="{% static 'js/index.js' %}"></script>
	
	<script>
		fetch('/create_game/', {
			method: 'GET',
			headers: {
				'Content-Type': 'application/json',
			},
			params: {
				type: 'ranked',
				player2_id: opponentId
			}
		})
	</script>
	
</head>

<body onload="loadTemplate()" >
	
	<!-- Navbar with Change Mode button -->
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container-fluid">
			<div class="navbar-nav">
				<a class="nav-link" href="/GameModes">Change Mode</a>
			</div>
		</div>
	</nav>
	
	<!-- Background Title -->
	<div class=" position-absolute top-50 start-50 translate-middle" style="z-index: -1;">
		<img class="transcendence-icon" alt="" src="{% static 'images/bg-text.svg' %}">
	</div>
	
	<div class="container">
		<h1 class="mb-3 primary-font grid text-center">PvP - Unranked Mode</h1>
		
		<!-- Scores -->
		<div class="scores secondary-font">
			<!-- Player's score container (always on the left) -->
			<div id="player-side" class="score container px-4 text-center">
				<p>{{ player1_username }}: <span id="score_player1">0</span></p>
			</div>
			<div id="ai-side" class="score container px-4 text-center">
				<p>{{ player2_username }}: <span id="score_player2">0</span></p>
			</div>
		</div>
		
		<!-- Game Window -->
		<div class="game-window ">
			<canvas id="field" width="802px" height="455px">
				Votre Navigateur ne supporte pas la balise canvas.
			</canvas>
			<script> 
				const gameId = '{{ game_id }}';
				const playerRole = '{{ player_role }}';
			</script>
			<script type="module" src="{% static 'js/Launcher.js' %}"></script>
			<script type="module">
				import Launcher from "{% static 'js/Launcher.js' %}";
				let launcher = null;
				if (typeof Launcher !== "undefined")
            		launcher = new Launcher('UnrankedMode');
				else
            		console.error("La classe Launcher n'a pas été définie.");
			</script>
		</div>
	</div>
	
	<!-- Chatbox -->
	{% include 'ChatBox.html' %}
	<script src="{% static 'js/chatScript.js' %}"></script>
	<!-- Bootstrap JS and Popper for Modal functionality -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
	
</body>
</html>