<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Matchmaking</title>
</head>
<body>
    <p id="parag">Recherche de match...</p>
    <button><a href="/">Home</a></button>

    <script>
        const matchmakingSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/matchmaking/'
        );

        matchmakingSocket.onopen = function () {
            console.log("WebSocket matchmaking connecté !");
        };

        matchmakingSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            if (data.type === "match_found") 
                document.getElementById("parag").innerHTML = `Match trouvé !<br>ID du match : ${data.game_id}<br>Joueurs : ${data.player1} vs ${data.player2}`;
        };

        matchmakingSocket.onclose = function (e) {
            console.error("WebSocket matchmaking fermé :", e);
        };

        matchmakingSocket.onerror = function (e) {
            console.error("Erreur WebSocket :", e);
        };
    </script>
</body>
</html>
